<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.mybatis.test1.mapper.AccountMapper">
    <sql id="accountColumns">
        id AS "id",
        name AS "name",
        pwd AS "pwd"
    </sql>
    
    <resultMap id="accountAndPassportColumns" type="accountAndPassport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <association property="passport" javaType="com.st.mybatis.test1.entity.Passport">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="account_id" property="accountId" jdbcType="BIGINT"/>
            <result column="age" property="age" jdbcType="INTEGER"/>
            <result column="hobby" property="hobby" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    
    <select id="getById" resultType="account">
        SELECT
        <include refid="accountColumns"/>
        FROM account
        WHERE id = #{id}
    </select>

    <select id="getAll" resultMap="accountAndPassportColumns">
        SELECT *
        FROM account a
        LEFT JOIN passport b on a.id = b.account_id
        WHERE a.id = #{id}
    </select>

    <resultMap id="accountAndPassportColumnsNew" type="accountAndPassport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <association property="passport" javaType="passport" select="getByPassportId" column="passport_id"/>
    </resultMap>

    <select id="getByPassportId" resultType="passport">
        SELECT passport_id AS passportId, age as age, hobby as hobby
        FROM passport
        WHERE passport_id = #{passportId}
    </select>

    <select id="getAllNew" resultMap="accountAndPassportColumnsNew">
        SELECT a.id as id, a.name as name, a.pwd as pwd
        FROM account a
        LEFT JOIN passport b on a.passport_id = b.passport_id
        WHERE a.id = #{id}
    </select>

</mapper>